 #envios{
    display: flex;
    color: white;
    background-color: black;
    justify-content: center;
    padding: 5px;
}


nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 40px;
    background-color: rgb(211, 208, 204);
}

nav > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

nav > div:nth-child(2) > div {
  display: flex;
  align-items: center;
  gap: 15px;
}

.navList {
  display: flex;
  gap: 15px;
  font-size: 18px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.listContainer {
  max-height: 700px;
  margin: 1em auto;
  display: grid;
  grid-template-columns: repeat(4, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  background-color: white;
  border: 1px solid #999;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding-bottom: 10px;
  
}

.card img {
  max-width: 200px;
  height: auto;
} 

.layout.cart-open {
  grid-template-areas:
    "header header header"
    "content content cart"
    "footer footer footer";
  grid-template-columns: 1fr 1fr 300px;
}

header { grid-area: header; }
main { grid-area: content; }
footer { grid-area: footer; }
aside { grid-area: cart;} 

aside {
  padding-left: 15px;
}

article div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
  padding-top: 10px;
}

.addToCart {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
  width: 40%;
  height: 2rem;
  border-radius: 5px;
}

.removeItem{
  display: flex;
  justify-content: center;
  color: white;
  background-color: red;
  width: 1.2rem;
  height: 1.2rem;
}

.cartItem {
  display: flex;
  border: 1px solid black;
  gap: 15px;
}